/**
 * File              : TodoList.css
 * Author            : pdeguing <pdeguing@student.42.us.org>
 * Date              : 05.04.2019
 * Last Modified Date: 05.04.2019
 * Last Modified By  : pdeguing <pdeguing@student.42.us.org>
 */

.todoListMain {
	border-radius: 2px;
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	padding: 0;
}

.todoListMain .header input {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ffffff;
	width: 165px;
	border-radius: 2px;
	text-align: center;
}

.todoListMain .theList li {
	display: block;
	position: relative;
	color: #333;
	background-color: rgba(255, 255, 255, .5);
	padding: 10px;
	list-style: none;
	transition: background-color .2s ease-out;
}

.todoListMain .theList li input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	height: 15px;
	width: 15px;
	border: 2px solid #f0f0f0;
}

.todoListMain .theList li:hover {
	background-color: pink;
	cursor: pointer;
}

ul.theList {
	padding: 0;
	margin: 0;
}
